.erro{
    color: red;
    background-color: rgba(192, 192, 192, 0.151);
    padding: 10px;
}

.sucesso{
    background-color: greenyellow;
    background-color: rgba(192, 192, 192, 0.151);
    padding:10px;
}